---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Sites from '../components/Sites.astro';
import background from '../assets/background.svg';

const name = 'The Oreno';
const slog = 'An Insignificant Mortal Dream Projects';
---

<Layout title={`${name}: ${slog}`}>
	<div class="container mx-auto">
		<img id="background" src={background.src} alt="" fetchpriority="high" />
		<main class="">
			<Welcome name={name} slog={slog} />
			<Sites />
		</main>
	</div>
</Layout>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}
</style>
